* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#e5e5e5 ;
}

.form-header{
    text-align: center;
    font-family: "Merriweather", serif;
    
}

h1 {
    display:inline-block;
    width: 60%;
    max-width: 400px;
    margin: 40px auto;
    padding: 5px 15px;
    font-weight: 800;
    font-optical-sizing: auto;
    font-size: 1.7em;
    color:#fca311;
    text-shadow: 
    2px 1px #fca311,
    2px 2px 0 black;
    border: 5px solid black;
    border-radius: 20px;
    background-color: #14213d;
}

p {
    display:block;
    width: 60%;
    max-width: 400px;
    padding: 5px 5px;
    margin: 20px auto;
   
}

