* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    margin: 40px auto;
    background-color:whitesmoke;
    border: 3px solid black;
    border: radius 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2);
}

.head-pic {
    width: 100%;
    display: block;
    border-radius: 8px;
}

h1 {
    width:fit-content;
    margin: 25px auto;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    
    
}

h1:hover {
    transform: translateY(-2px);
    background-color: beige;
}   

.three-list {
    text-align: center;
    list-style-position: inside;
    line-height: 1.5;
}

.first-card {
    width: 240px;
    margin: 10px auto;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    transition: 0.3s ease;

}
.first-card:hover {
    transform: scale(1.05) translateY(-2px);
    
}
.first-link:visited {
    color:red;
}
.first-link:hover {
    color:orange;
}
.second-card {
    width: 240px;
    margin: 10px auto;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    transition: 0.3s ease;
}
.second-card:hover {
    transform: translateY(-2px) scale(1.05);
}
.second-link:visited {
    color:red;
}
.second-link:hover {
    color:orange;
}
.third-card {
    width: 240px;
    margin: 10px auto;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    transition: 0.3s ease;
}
.third-card:hover {
    transform: translateY(-2px) scale(1.05);
}
.third-link:visited {
    color:red;
}
.third-link:hover {
    color:orange;
}