* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#218DAE ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FCE59A;
}

h1 {
    font-size: 2.5em;
    margin: 5vh;
    font-family: 'Outfit';
    text-align: center;
    text-shadow: 2px 2px 5px #14213d;
}

.full-name input {
    display: block;
    margin: 15px auto;
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #14213d;
}

.full-name input:focus {
    outline: none;
    border: 5px solid #ffd500;
}

.full-name label {
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 15px auto;
    color: #ffd500;
    font-weight: 2rem;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
}

.email-only input {
    display: block;
    width: 60%;
    max-width: 400px;
    padding: 10px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #14213d;
}

.email-only label {
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 15px auto;
    font-weight: 2rem;
    font-size: 1.2em;
    color: #ffd500;
    text-shadow: 2px 2px 2px black;
}

.email-only input:focus {
    outline: none;
    border: 5px solid #ffd500;
}

.password-only input{
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #14213d;

}

.password-only label {
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 15px auto;
    font-weight: 2rem;
    font-size: 1.2em;
    color: #ffd500;
    text-shadow: 2px 2px 2px black;
}

.password-only input:focus {
    outline: none;
    border: 5px solid #ffd500;

}

.confirm-pass input {
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #14213d;
}

.confirm-pass label {
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 15px auto;
    font-weight: 2rem;
    font-size: 1.2em;
    color: #ffd500;
    text-shadow: 2px 2px 2px black;
}

.confirm-pass input:focus {
    outline: none;
    border: 5px solid #ffd500;
}

button {
    display: block;
    margin: 3em auto;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 2px 4px 5px black;
}    
    
button:hover {
    background-color:#ffd500;
    cursor: pointer;
}






